@charset "UTF-8"; @font-face {
  font-family: 'crt-icon';
  src: url("../fonts/crt-icon.eot?32623403");
  src: url("../fonts/crt-icon.eot?32623403#iefix") format("embedded-opentype"), url("../fonts/crt-icon.woff2?32623403") format("woff2"), url("../fonts/crt-icon.woff?32623403") format("woff"), url("../fonts/crt-icon.ttf?32623403") format("truetype"), url("../fonts/crt-icon.svg?32623403#crt-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'crt-icon';
    src: url('../font/crt-icon.svg?32623403#crt-icon') format('svg');
  }
}
*/
[class^="crt-icon-"]:before,
[class*=" crt-icon-"]:before {
  font-family: "crt-icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.crt-icon-right-open-big:before,
.crt-panel-next:before {
  content: '\e800';
}

/* '' */
.crt-icon-rss:before {
  content: '\e801';
}

/* '' */
.crt-icon-cancel:before {
  content: '\e802';
}

/* '' */
.crt-icon-right-open:before {
  content: '\e803';
}

/* '' */
.crt-icon-left-open:before {
  content: '\e804';
}

/* '' */
.crt-icon-left-open-big:before,
.crt-panel-prev:before {
  content: '\e805';
}

/* '' */
.crt-icon-down-open-big:before {
  content: '\e806';
}

/* '' */
.crt-icon-up-open-big:before {
  content: '\e807';
}

/* '' */
.crt-icon-heart-1:before,
.crt-icon-heart:before {
  content: '\e808';
}

/* '' */
.crt-icon-yelp:before {
  content: '\e809';
}

/* '' */
.crt-icon-comment-alt:before,
.crt-icon-comment:before {
  content: '\e80a';
}

/* '' */
.crt-icon-soundcloud:before {
  content: '\e80b';
}

/* '' */
.crt-icon-cogs:before {
  content: '\e80c';
}

/* '' */
.crt-icon-spin1:before {
  content: '\e830';
}

/* '' */
.crt-icon-twitter:before {
  content: '\f099';
}

/* '' */
.crt-icon-facebook:before {
  content: '\f09a';
}

/* '' */
.crt-icon-gplus-1:before,
.crt-icon-google:before {
  content: '\f0d5';
}

/* '' */
.crt-icon-linkedin-1:before,
.crt-icon-linkedin:before {
  content: '\f0e1';
}

/* '' */
.crt-icon-angle-left:before {
  content: '\f104';
}

/* '' */
.crt-icon-angle-right:before {
  content: '\f105';
}

/* '' */
.crt-icon-angle-up:before {
  content: '\f106';
}

/* '' */
.crt-icon-angle-down:before {
  content: '\f107';
}

/* '' */
.crt-icon-attention-alt:before,
.crt-icon-unknown:before {
  content: '\f12a';
}

/* '' */
.crt-icon-youtube-1:before,
.crt-icon-youtube:before {
  content: '\f167';
}

/* '' */
.crt-icon-instagram-1:before,
.crt-icon-instagram:before {
  content: '\f16d';
}

/* '' */
.crt-icon-tumblr-1:before,
.crt-icon-tumblr:before {
  content: '\f173';
}

/* '' */
.crt-icon-weibo:before {
  content: '\f18a';
}

/* '' */
.crt-icon-slack:before {
  content: '\f198';
}

/* '' */
.crt-icon-behance:before {
  content: '\f1b4';
}

/* '' */
.crt-icon-spotify:before {
  content: '\f1bc';
}

/* '' */
.crt-icon-vine:before {
  content: '\f1ca';
}

/* '' */
.crt-icon-pinterest-1:before,
.crt-icon-pinterest:before {
  content: '\f231';
}

/* '' */
.crt-icon-medium:before {
  content: '\f23a';
}

/* '' */
.crt-icon-clone:before,
.crt-icon-image-carousel:before {
  content: '\f24d';
}

/* '' */
.crt-icon-tripadvisor:before {
  content: '\f262';
}

/* '' */
.crt-icon-snapchat-ghost:before {
  content: '\f2ac';
}

/* '' */
.crt-icon-flickr:before {
  content: '\f303';
}

/* '' */
.crt-icon-vimeo:before {
  content: '\f306';
}

/* '' */
.crt-icon-deviant-art:before {
  content: '\f307';
}

/* '' */
[class^="crt-icon-"]:before,
[class*=" crt-icon-"]:before {
  margin: 0;
}

@keyframes opacityWithDisplay {
  0% {
    display: none;
    opacity: 0;
}
  1% {
    display: block;
    opacity: 0;
}
  100% {
    display: block;
    opacity: 1;
} }

.crt-clearfix,
.crt-popup-wrapper .crt-popup .crt-popup-header,
.crt-post-v1 .crt-post .crt-post-header,
.crt-widget-waterfall .crt-feed {
  zoom: 1;
}
.crt-clearfix:before,
.crt-popup-wrapper .crt-popup .crt-popup-header:before,
.crt-post-v1 .crt-post .crt-post-header:before,
.crt-widget-waterfall .crt-feed:before,
.crt-clearfix:after,
.crt-popup-wrapper .crt-popup .crt-popup-header:after,
.crt-post-v1 .crt-post .crt-post-header:after,
.crt-widget-waterfall .crt-feed:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.crt-clearfix:after,
.crt-popup-wrapper .crt-popup .crt-popup-header:after,
.crt-post-v1 .crt-post .crt-post-header:after,
.crt-widget-waterfall .crt-feed:after {
  clear: both;
}

.crt-hitarea {
  cursor: pointer;
}

.crt-responsive-video {
  padding-bottom: 100%;
}
.crt-responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.crt-feed div {
  box-sizing: border-box;
}

.crt-feed.crt-feed-branded {
  padding-bottom: 25px;
}
.crt-feed.crt-feed-branded .crt-logo {
  display: block;
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 0.9em;
  z-index: 999;
  color: #090909;
  text-decoration: none;
}

/**
* ==================================================================
* Popup
* =====
*/
body.crt-popup-visible {
  overflow: hidden;
}

.crt-popup-underlay {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  -ms-flex-pack: justify;
  justify-content: space-between;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  z-index: 100;
}

.crt-popup-wrapper-c {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  min-height: 100%;
  width: 100%;
  position: relative;
}

.crt-popup-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 100000;
  overflow-x: hidden;
  overflow-y: auto;
  /*[empty]background-color:;*/ }
.crt-popup-wrapper div {
  box-sizing: border-box;
}
.crt-popup-wrapper .crt-popup-container {
  padding: 60px;
  position: relative;
  z-index: 101;
}
.crt-popup-wrapper .crt-popup-padding {
  padding: 60px 0;
  margin: 0px auto;
}
.crt-popup-wrapper .crt-popup {
  position: relative;
  max-width: 950px;
  width: 100%;
  z-index: 101;
  background-color: #ffffff;
  float: left;
}
.crt-popup-wrapper .crt-popup a {
  text-overflow: ellipsis;
  text-decoration: none;
  color: #2b2b2b;
}
.crt-popup-wrapper .crt-popup a:hover {
  color: black;
}
.crt-popup-wrapper .crt-popup .crt-popup-left {
  display: none;
  background-color: #ffffff;
  position: relative;
  padding-right: 335px;
}
.crt-popup-wrapper .crt-popup .crt-popup-left img {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
}
.crt-popup-wrapper .crt-popup .crt-popup-left .crt-video {
  width: 100%;
  display: none;
}
.crt-popup-wrapper .crt-popup .crt-popup-left .crt-video .crt-video-container {
  position: relative;
}
.crt-popup-wrapper .crt-popup .crt-popup-left .crt-video .crt-video-container img {
  position: relative;
  display: block;
  z-index: 1;
}
.crt-popup-wrapper .crt-popup .crt-popup-left .crt-video .crt-video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.crt-popup-wrapper .crt-popup .crt-popup-left .crt-video .crt-video-container iframe {
  display: block;
}
.crt-popup-wrapper .crt-popup .crt-popup-left .crt-pagination {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 335px;
}
.crt-popup-wrapper .crt-popup .crt-popup-left .crt-pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.crt-popup-wrapper .crt-popup .crt-popup-left .crt-pagination ul li {
  padding: 0;
  display: inline-block;
  margin: 0 5px;
}
.crt-popup-wrapper .crt-popup .crt-popup-left .crt-pagination ul li a {
  border: 2px solid #fff;
  display: block;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.crt-popup-wrapper .crt-popup .crt-popup-left .crt-pagination ul li.selected a {
  background-color: #f6f6f6;
  border: 2px solid #f6f6f6;
}
.crt-popup-wrapper .crt-popup .crt-popup-right {
  width: 335px;
  padding: 10px 20px;
  font-family: Arial, san-serif;
  font-weight: normal !important;
  font-size: 15px;
  color: #0b0b0b;
}
.crt-popup-wrapper .crt-popup .crt-popup-right a {
  color: #626262;
}
.crt-popup-wrapper .crt-popup .crt-popup-right .crt-popup-text {
  overflow-x: hidden;
  overflow-y: scroll;
}
.crt-popup-wrapper .crt-popup .crt-popup-right .crt-popup-text .crt-popup-text-container {
  padding-right: 5px;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */ }
.crt-popup-wrapper .crt-popup .crt-popup-right .crt-popup-text::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.crt-popup-wrapper .crt-popup .crt-popup-right .crt-popup-text::-webkit-scrollbar-thumb {
  background: #ccc;
}
.crt-popup-wrapper .crt-popup .crt-popup-right .crt-popup-text::-webkit-scrollbar-track {
  background: #fff;
}
.crt-popup-wrapper .crt-popup .crt-popup-header {
  border-bottom: 1px solid #fff;
  color: #2b2b2b;
  /*[empty]margin-left:;*/
  padding-bottom: 5px;
  position: relative;
  margin-bottom: 15px;
}
.crt-popup-wrapper .crt-popup .crt-popup-header .crt-social-icon {
  float: left;
  display: block;
  width: 34px;
  height: 42px;
  margin-right: 10px;
  line-height: 42px;
  text-align: center;
  padding-top: 2px;
}
.crt-popup-wrapper .crt-popup .crt-popup-header .crt-social-icon i {
  margin-top: 0;
  font-size: 35px;
  color: #2b2b2b;
}
.crt-popup-wrapper .crt-popup .crt-popup-header .crt-social-icon i.crt-icon-twitter {
  font-size: 32px;
  margin-right: 6px;
}
.crt-popup-wrapper .crt-popup .crt-popup-header .crt-social-icon i.crt-icon-instagram {
  margin-left: -1px;
}
.crt-popup-wrapper .crt-popup .crt-popup-header IMG {
  float: left;
  width: 40px;
  margin-right: 9px;
  margin-top: 7px;
}
.crt-popup-wrapper .crt-popup .crt-popup-header .crt-post-name {
  float: left;
  position: absolute;
  left: 105px;
  top: 11px;
  right: 3px;
  font-size: 0.9em;
  line-height: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.crt-popup-wrapper .crt-popup .crt-popup-read-more {
  display: none;
  zoom: 1;
  padding: 10px 15px 10px;
  background-color: #ffffff;
  line-height: 1em;
  text-align: center;
  z-index: 1;
}
.crt-popup-wrapper .crt-popup .crt-popup-read-more:before,
.crt-popup-wrapper .crt-popup .crt-popup-read-more:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.crt-popup-wrapper .crt-popup .crt-popup-read-more:after {
  clear: both;
}
.crt-popup-wrapper .crt-popup .crt-popup-read-more a.crt-button {
  border-radius: 6px;
  background-color: #efefef;
  display: inline-block;
  padding: 10px 15px;
  color: #2e2e2e;
}
.crt-popup-wrapper .crt-popup .crt-popup-footer {
  zoom: 1;
  border-top: 1px solid #efefef;
  padding: 10px 15px 10px;
  background-color: #ffffff;
  margin-top: 4px;
  line-height: 1em;
  z-index: 2;
}
.crt-popup-wrapper .crt-popup .crt-popup-footer:before,
.crt-popup-wrapper .crt-popup .crt-popup-footer:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.crt-popup-wrapper .crt-popup .crt-popup-footer:after {
  clear: both;
}
.crt-popup-wrapper .crt-popup .crt-popup-footer .crt-popup-stats {
  float: left;
  color: #cccccc;
  font-size: .8em;
  text-transform: uppercase;
  vertical-align: middle;
  padding-top: 2px;
}
.crt-popup-wrapper .crt-popup .crt-popup-footer .crt-popup-stats span {
  color: #666;
}
.crt-popup-wrapper .crt-popup .crt-popup-footer .crt-popup-stats .sep {
  background-color: #cccccc;
  width: 4px;
  height: 4px;
  display: inline-block;
  margin: 0 4px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.crt-popup-wrapper .crt-popup .crt-popup-footer .crt-post-share {
  float: right;
  text-align: right;
  padding-top: 3px;
}
.crt-popup-wrapper .crt-popup .crt-popup-footer .crt-post-share i {
  color: #666;
}
.crt-popup-wrapper .crt-popup .crt-date {
  margin-top: 0;
  opacity: 0.5;
}
.crt-popup-wrapper .crt-popup .crt-link {
  text-decoration: underline;
}
.crt-popup-wrapper .crt-popup a.crt-play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.crt-popup-wrapper .crt-popup a.crt-play .crt-play-icon {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 36px solid #efefef;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  opacity: 0.50;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -12px;
}
.crt-popup-wrapper .crt-popup a.crt-play .crt-play-icon:before {
  content: '';
  position: absolute;
  top: -45px;
  left: -69px;
  bottom: -45px;
  right: -21px;
  border-radius: 50%;
  border: 3px solid #efefef;
  z-index: 2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.crt-popup-wrapper .crt-popup a.crt-play .crt-play-icon:after {
  content: '';
  opacity: 0;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}
.crt-popup-wrapper .crt-popup a.crt-play .crt-play-icon.active {
  border-color: transparent;
}
.crt-popup-wrapper .crt-popup a.crt-play .crt-play-icon.active:after {
  content: '';
  opacity: 1;
  width: 30px;
  height: 48px;
  background: #efefef;
  position: absolute;
  right: 3px;
  top: -24px;
  border-left: 12px solid #efefef;
  box-shadow: inset 18px 0 0 0 #f9f9f9;
}
.crt-popup-wrapper .crt-popup a.crt-play:hover i:before,
.crt-popup-wrapper .crt-popup a.crt-play:focus i:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.crt-popup-wrapper .crt-popup .crt-close {
  position: absolute;
  top: 13px;
  right: 15px;
  z-index: 10;
}
.crt-popup-wrapper .crt-popup .crt-previous,
.crt-popup-wrapper .crt-popup .crt-next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  right: -51px;
  z-index: 1;
  color: #ffffff;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}
.crt-popup-wrapper .crt-popup .crt-previous {
  right: auto;
  left: -51px;
}
.crt-popup-wrapper .crt-popup.has-image .crt-popup-left {
  display: block;
}
.crt-popup-wrapper .crt-popup.has-image .crt-popup-right {
  position: absolute;
  width: 335px;
  height: 100%;
  top: 0;
  right: 0;
}
.crt-popup-wrapper .crt-popup.has-image .crt-popup-right .crt-popup-text {
  position: absolute;
  top: 75px;
  left: 20px;
  right: 20px;
  bottom: 40px;
}
.crt-popup-wrapper .crt-popup.has-image .crt-popup-right .crt-popup-footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.crt-popup-wrapper .crt-popup.has-video .crt-popup-left .crt-video {
  display: block;
}
.crt-popup-wrapper .crt-popup.has-video .crt-popup-left .crt-image {
  display: none;
}
.crt-popup-wrapper .crt-popup.has-video a.crt-play .crt-play-icon {
  display: block;
}
.crt-popup-wrapper .crt-popup.crt-has-read-more .crt-popup-read-more {
  display: block;
}
.crt-popup-wrapper .crt-popup.crt-has-read-more.has-image .crt-popup-right {
  padding-bottom: 100px;
}
.crt-popup-wrapper .crt-popup.crt-has-read-more.has-image .crt-popup-right .crt-popup-read-more {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 39px;
}
.crt-popup-wrapper .crt-popup.crt-has-read-more.has-image .crt-popup-right .crt-popup-text {
  bottom: 100px;
}
.crt-popup-wrapper .crt-popup.video-playing .crt-popup-left .crt-video .crt-video-container a i {
  opacity: 0;
}

@media screen and (max-width: 910px) {
  .crt-popup-wrapper .crt-popup-container {
    padding: 40px;
}
  .crt-popup-wrapper .crt-popup .crt-previous,
  .crt-popup-wrapper .crt-popup .crt-next {
    right: -41px;
    width: 40px;
}
  .crt-popup-wrapper .crt-popup .crt-previous {
    left: -41px;
}
  .crt-popup-wrapper .crt-popup .crt-popup-right {
    position: relative;
    width: auto;
    max-width: 600px;
    right: auto;
    height: auto;
    padding-bottom: 40px;
}
  .crt-popup-wrapper .crt-popup .crt-popup-right .crt-popup-text {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    max-height: 300px;
    padding-bottom: 15px;
}
  .crt-popup-wrapper .crt-popup .crt-popup-left {
    padding-right: 0;
}
  .crt-popup-wrapper .crt-popup .crt-popup-left .crt-pagination {
    right: 0;
}
  .crt-popup-wrapper .crt-popup.has-image .crt-popup-right {
    position: relative;
    width: auto;
    max-width: 600px;
    right: auto;
    height: auto;
}
  .crt-popup-wrapper .crt-popup.has-image .crt-popup-right .crt-popup-text {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    max-height: 300px;
}
  .crt-popup-wrapper .crt-popup.crt-has-read-more.has-image .crt-popup-right .crt-popup-text {
    bottom: auto;
} }

.crt-load-more {
  padding: 4px;
  text-align: center;
}
.crt-load-more a {
  margin: 0 auto;
  background-color: #fff;
  color: #2b2b2b;
  display: inline-block;
  text-align: center;
  padding: 20px;
  border-radius: 0;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 30px transparent;
}

.crt-filter {
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.crt-filter .crt-filter-networks,
.crt-filter .crt-filter-sources {
  position: relative;
  display: block;
  margin-bottom: 3px;
}
.crt-filter .crt-filter-networks ul,
.crt-filter .crt-filter-sources ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #efefef;
}
.crt-filter .crt-filter-networks ul li,
.crt-filter .crt-filter-sources ul li {
  display: inline-block;
}
.crt-filter .crt-filter-networks ul li a,
.crt-filter .crt-filter-sources ul li a {
  display: block;
  padding: 7px 10px;
  text-decoration: none;
  font-size: 1em;
  line-height: 1.2em;
  color: #707070;
  transition: background-color 0.3s linear;
}
.crt-filter .crt-filter-networks ul li a i,
.crt-filter .crt-filter-sources ul li a i {
  margin-left: -5px;
}
.crt-filter .crt-filter-networks ul li a:hover,
.crt-filter .crt-filter-sources ul li a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.crt-filter .crt-filter-networks ul li.active a,
.crt-filter .crt-filter-sources ul li.active a {
  background-color: #cccccc;
}
.crt-filter .crt-filter-networks .crt-filter-label,
.crt-filter .crt-filter-sources .crt-filter-label {
  margin: 0 5px;
}

.crt-image-responsive {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
.crt-image-responsive img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
* ==================================================================
* POST
* ==================================================================
 */
.crt-post-v1.crt-post-c {
  width: 368px;
  float: left;
  position: relative;
}

.crt-post-v1 .crt-post-bg {
  position: absolute;
  top: 0px;
  left: 5px;
  right: 5px;
  bottom: 0px;
  background-color: #efefef;
}

.crt-post-v1 .crt-post {
  margin: 0 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 0px;
}
.crt-post-v1 .crt-post a {
  transition: color 0.2s linear;
}
.crt-post-v1 .crt-post .crt-post-header {
  background-color: #efefef;
  color: #2b2b2b;
  /*[empty]margin-left:;*/
  padding-bottom: 3px;
  position: relative;
}
.crt-post-v1 .crt-post .crt-post-header .crt-social-icon {
  float: left;
  display: block;
  width: 43px;
  height: 55px;
  margin-right: 10px;
  margin-left: 3px;
  text-align: center;
  padding-top: 2px;
}
.crt-post-v1 .crt-post .crt-post-header .crt-social-icon i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  font-size: 38px;
  color: #2b2b2b;
}
.crt-post-v1 .crt-post .crt-post-header .crt-social-icon i.crt-icon-twitter {
  font-size: 32px;
  margin-left: 6px;
}
.crt-post-v1 .crt-post .crt-post-header IMG {
  float: left;
  width: 40px;
  margin-right: 9px;
  margin-top: 10px;
}
.crt-post-v1 .crt-post .crt-post-header .crt-post-name {
  float: left;
  margin-top: 3px;
  position: absolute;
  left: 105px;
  top: 11px;
  right: 0px;
  font-size: 0.9em;
  line-height: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.crt-post-v1 .crt-post .crt-post-header .crt-post-name a {
  text-overflow: ellipsis;
  text-decoration: none;
  color: #2b2b2b;
}
.crt-post-v1 .crt-post .crt-post-header .crt-post-name a:hover {
  color: black;
}
.crt-post-v1 .crt-post .crt-post-header .crt-post-fullname {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.crt-post-v1 .crt-post .crt-post-header .crt-post-username {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.crt-post-v1 .crt-post .crt-post-content-text {
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 16px;
  color: #707070;
  font-size: 1em;
  line-height: 1.2em;
}
.crt-post-v1 .crt-post .crt-post-content-text a {
  color: #2b2b2b;
}
.crt-post-v1 .crt-post .crt-post-content-text a:hover {
  color: black;
}
.crt-post-v1 .crt-post .crt-post-content-text .crt-image {
  display: none;
}
.crt-post-v1 .crt-post .crt-post-content-image {
  max-height: 400px;
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;
}
.crt-post-v1 .crt-post .crt-post-content-image .text {
  display: none;
}
.crt-post-v1 .crt-post .crt-post-content-image IMG {
  width: 100%;
}
.crt-post-v1 .crt-post .crt-post-content-image .crt-play-icon {
  display: none;
}
.crt-post-v1 .crt-post .crt-post-content-image-hidden {
  display: none;
}
.crt-post-v1 .crt-post .crt-post-content-text-hidden {
  display: none;
}
.crt-post-v1 .crt-post:hover .crt-post-share {
  bottom: 0;
}
.crt-post-v1 .crt-post .crt-post-footer {
  zoom: 1;
  margin: 5px 15px 10px 15px;
}
.crt-post-v1 .crt-post .crt-post-footer:before,
.crt-post-v1 .crt-post .crt-post-footer:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.crt-post-v1 .crt-post .crt-post-footer:after {
  clear: both;
}
.crt-post-v1 .crt-post .crt-date {
  margin-top: 0;
  opacity: 0.5;
  float: left;
  line-height: .9em;
  font-size: .9em;
}
.crt-post-v1 .crt-post .crt-post-share {
  float: right;
  line-height: .9em;
  font-size: .9em;
  color: #2b2b2b;
  text-align: right;
  box-shadow: none;
}
.crt-post-v1 .crt-post .crt-post-share A {
  display: inline-block;
  color: #2b2b2b;
  opacity: 0.5;
  transition: opacity .3s linear;
}
.crt-post-v1 .crt-post .crt-post-share A:hover {
  opacity: 1;
}
.crt-post-v1 .crt-post .crt-post-share A i {
  font-size: 1.1em;
  display: inline-block;
  vertical-align: top;
}
.crt-post-v1 .crt-post .crt-post-share A i:before {
  margin: 0 0 0 5px;
}
.crt-post-v1 .crt-post .crt-post-share A i.crt-icon-twitter {
  font-size: 1.1em;
  margin-top: 0.1em;
}
.crt-post-v1 .crt-post .crt-post-read-more,
.crt-post-v1 .crt-post .crt-post-max-height-read-more {
  display: none;
  text-align: center;
  margin: 0.5em;
}
.crt-post-v1 .crt-post .crt-post-read-more-button {
  display: inline-block;
  background-color: #ddd;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 1em;
  border-radius: 00.1em;
  color: #666;
}
.crt-post-v1 .crt-post.crt-post-show-read-more .crt-post-read-more {
  display: block;
}
.crt-post-v1 .crt-post .crt-play {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.crt-post-v1 .crt-post .crt-play .crt-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -10px;
  display: none;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 24px solid #efefef;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  opacity: 0.50;
}
.crt-post-v1 .crt-post .crt-play .crt-play-icon:before {
  content: '';
  position: absolute;
  top: -30px;
  left: -46px;
  bottom: -30px;
  right: -14px;
  border-radius: 50%;
  border: 2px solid #efefef;
  z-index: 2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.crt-post-v1 .crt-post .crt-play .crt-play-icon:after {
  content: '';
  opacity: 0;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}
.crt-post-v1 .crt-post .crt-play .crt-play-icon.active {
  border-color: transparent;
}
.crt-post-v1 .crt-post .crt-play .crt-play-icon.active:after {
  content: '';
  opacity: 1;
  width: 20px;
  height: 32px;
  background: #efefef;
  position: absolute;
  right: 2px;
  top: -16px;
  border-left: 8px solid #efefef;
  box-shadow: inset 12px 0 0 0 #f9f9f9;
}
.crt-post-v1 .crt-post.has-video .crt-play-icon {
  display: block;
}
.crt-post-v1 .crt-post.has-video .crt-hitarea:hover i:before,
.crt-post-v1 .crt-post.has-video .crt-hitarea:focus i:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.crt-post-v1 .crt-post.crt-post-max-height .crt-post .crt-post-share {
  bottom: -50px;
  display: none;
}
.crt-post-v1 .crt-post.crt-post-max-height .crt-post-read-more {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 0.5em;
  padding-top: 4em;
  margin: 0em;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,131313+100 */
  background: transparent;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(50%, #efefef));
  background: linear-gradient(to bottom, transparent 0%, #efefef 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

/**
* ==================================================================
* Grid POST
* ==================================================================
 */
.crt-grid-post-v1 {
  border: 0;
  margin: 0;
  overflow: hidden;
}
.crt-grid-post-v1 img.spacer {
  width: 100%;
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}
.crt-grid-post-v1 .crt-post-content-text-c,
.crt-grid-post-v1 .crt-post-content-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.crt-grid-post-v1 .crt-social-icon-normal {
  color: #ffffff;
}
.crt-grid-post-v1 .crt-social-icon {
  position: absolute;
  right: 3px;
  bottom: 5px;
  z-index: 3;
  font-size: 1.3em;
  transition: opacity .4s linear;
}
.crt-grid-post-v1 .crt-post-content-image {
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
.crt-grid-post-v1 .crt-post-content-text-c {
  z-index: 2;
}
.crt-grid-post-v1 .crt-post-content-text-c .crt-post-content-text {
  font-size: 20px;
}
.crt-grid-post-v1 .crt-post-hover {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3;
  opacity: 0;
  transition: opacity .4s linear;
}
.crt-grid-post-v1 .crt-post-hover .crt-post-header .crt-social-icon,
.crt-grid-post-v1 .crt-post-hover .crt-post-header {
  background-color: transparent;
}
.crt-grid-post-v1 .crt-post-hover .crt-post-header .crt-social-icon IMG,
.crt-grid-post-v1 .crt-post-hover .crt-post-header IMG {
  margin-left: 6px;
  margin-top: 6px;
}
.crt-grid-post-v1 .crt-post-hover .crt-post-header .crt-social-icon .crt-post-name,
.crt-grid-post-v1 .crt-post-hover .crt-post-header .crt-post-name {
  left: 53px;
  margin-top: 0;
  font-size: 0.8em;
}
.crt-grid-post-v1 .crt-post-hover .crt-post-hover-text {
  padding: 6px;
  font-size: 0.85em;
}
.crt-grid-post-v1 .crt-hitarea:hover .crt-social-icon-normal {
  opacity: 0;
}
.crt-grid-post-v1 .crt-hitarea:hover .crt-post-hover {
  display: block;
  opacity: 1;
}
.crt-grid-post-v1.crt-post-has-image .crt-post-content-text-c {
  display: none;
}

/**
* ==================================================================
* POST
* ==================================================================
 */
.crt-post-v2 {
  z-index: 1;
}
.crt-post-v2 .crt-post-border {
  box-shadow: 0px 2px 30px transparent;
  border-radius: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.crt-post-v2 .crt-post-c {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.crt-post-v2 a {
  transition: color 0.2s linear;
}
.crt-post-v2 .crt-image .crt-image-carousel {
  position: absolute;
  bottom: 7px;
  left: 10px;
  color: #fff;
  font-size: 1.2em;
  display: none;
}
.crt-post-v2.crt-has-image-carousel .crt-image .crt-image-carousel {
  display: block;
}
.crt-post-v2 .crt-post-content-image {
  max-height: 400px;
  overflow: hidden;
  position: relative;
}
.crt-post-v2 .crt-post-content-image .text {
  display: none;
}
.crt-post-v2 .crt-post-content-image IMG {
  width: 100%;
}
.crt-post-v2 .crt-post-content-image .crt-play-icon {
  display: none;
}
.crt-post-v2 .crt-post-content-text {
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 28px;
  color: #707070;
  font-size: 1em;
  line-height: 1.2em;
  text-align: center;
}
.crt-post-v2 .crt-post-content-text a {
  color: #2b2b2b;
}
.crt-post-v2 .crt-post-content-text a:hover {
  color: black;
}
.crt-post-v2 .crt-post-content-text .crt-image {
  display: none;
}
.crt-post-v2 .crt-post-max-height-read-more,
.crt-post-v2 .crt-post-read-more {
  display: none;
  text-align: center;
  margin: 0.5em;
}
.crt-post-v2 .crt-post-read-more-button {
  display: inline-block;
  background-color: #ddd;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 1em;
  border-radius: 00.1em;
  color: #666;
}
.crt-post-v2.crt-post-show-read-more .crt-post-read-more {
  display: block;
}
.crt-post-v2 .crt-play {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.crt-post-v2 .crt-play .crt-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -10px;
  display: none;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 24px solid #efefef;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  opacity: 0.50;
}
.crt-post-v2 .crt-play .crt-play-icon:before {
  content: '';
  position: absolute;
  top: -30px;
  left: -46px;
  bottom: -30px;
  right: -14px;
  border-radius: 50%;
  border: 2px solid #efefef;
  z-index: 2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.crt-post-v2 .crt-play .crt-play-icon:after {
  content: '';
  opacity: 0;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}
.crt-post-v2 .crt-play .crt-play-icon.active {
  border-color: transparent;
}
.crt-post-v2 .crt-play .crt-play-icon.active:after {
  content: '';
  opacity: 1;
  width: 20px;
  height: 32px;
  background: #efefef;
  position: absolute;
  right: 2px;
  top: -16px;
  border-left: 8px solid #efefef;
  box-shadow: inset 12px 0 0 0 #f9f9f9;
}
.crt-post-v2.crt-post-has-video .crt-play-icon {
  display: block;
}
.crt-post-v2.crt-post-has-video .crt-hitarea:hover i:before,
.crt-post-v2.crt-post-has-video .crt-hitarea:focus i:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.crt-post-v2.crt-post-max-height .crt-post .crt-post-share {
  bottom: -50px;
  display: none;
}
.crt-post-v2.crt-post-max-height .crt-post-max-height-read-more {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 0.5em;
  padding-top: 4em;
  margin: 0em;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,131313+100 */
  background: transparent;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(50%, #efefef));
  background: linear-gradient(to bottom, transparent 0%, #efefef 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.crt-post-v2.crt-post-no-image .crt-post-content-image {
  display: none;
}

.crt-grid-post-v2 .crt-post-header,
.crt-post-v2 .crt-post-header {
  padding-top: 28px;
  color: #2b2b2b;
  position: relative;
  text-align: center;
}
.crt-grid-post-v2 .crt-post-header .crt-social-icon,
.crt-post-v2 .crt-post-header .crt-social-icon {
  margin-bottom: 12px;
}
.crt-grid-post-v2 .crt-post-header .crt-social-icon i,
.crt-post-v2 .crt-post-header .crt-social-icon i {
  font-size: 24px;
}
.crt-grid-post-v2 .crt-post-header .crt-social-icon i.crt-icon-twitter,
.crt-post-v2 .crt-post-header .crt-social-icon i.crt-icon-twitter {
  font-size: 26px;
  margin-left: 6px;
}

.crt-grid-post-v2 .crt-social-icon,
.crt-post-v2 .crt-social-icon {
  display: block;
}
.crt-grid-post-v2 .crt-social-icon i,
.crt-post-v2 .crt-social-icon i {
  display: inline-block;
  color: #2b2b2b;
  line-height: 1em;
}

.crt-grid-post-v2 .crt-post-fullname,
.crt-post-v2 .crt-post-fullname {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

.crt-date {
  margin-top: 0;
  opacity: 0.5;
  font-size: .8em;
  text-transform: uppercase;
}

.crt-post-username {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: .8em;
  text-transform: uppercase;
}

.crt-post-userimage {
  width: 24px;
  height: auto;
  border-radius: 50%;
}

.crt-grid-post-v2 .crt-post-footer,
.crt-post-v2 .crt-post-footer {
  position: relative;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.crt-grid-post-v2 .crt-post-footer .crt-post-userimage,
.crt-post-v2 .crt-post-footer .crt-post-userimage {
  position: absolute;
  top: 7px;
  left: 10px;
}
.crt-grid-post-v2 .crt-post-footer .crt-post-share,
.crt-post-v2 .crt-post-footer .crt-post-share {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: .9em;
  color: #2b2b2b;
  text-align: right;
  box-shadow: none;
}
.crt-grid-post-v2 .crt-post-footer .crt-post-share a,
.crt-post-v2 .crt-post-footer .crt-post-share a {
  display: inline-block;
  color: #2b2b2b;
  opacity: 0.5;
  transition: opacity .3s linear;
}
.crt-grid-post-v2 .crt-post-footer .crt-post-share a:hover,
.crt-post-v2 .crt-post-footer .crt-post-share a:hover {
  opacity: 1;
}
.crt-grid-post-v2 .crt-post-footer .crt-post-share a i,
.crt-post-v2 .crt-post-footer .crt-post-share a i {
  font-size: 1.1em;
  display: inline-block;
  vertical-align: top;
}
.crt-grid-post-v2 .crt-post-footer .crt-post-share a i:before,
.crt-post-v2 .crt-post-footer .crt-post-share a i:before {
  margin: 0 0 0 5px;
}
.crt-grid-post-v2 .crt-post-footer .crt-post-share a i.crt-icon-twitter,
.crt-post-v2 .crt-post-footer .crt-post-share a i.crt-icon-twitter {
  font-size: 1.1em;
  margin-top: 0em;
}

/**
* ==================================================================
* Grid POST
* ==================================================================
 */
.crt-grid-post-v2 {
  border: 0;
  margin: 0;
  float: left;
  clear: none;
}
.crt-grid-post-v2 .crt-post-c {
  overflow: hidden;
  position: relative;
  margin-left: 1px;
  margin-bottom: 1px;
}
.crt-grid-post-v2 img.crt-spacer {
  width: 100% !important;
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}
.crt-grid-post-v2 .crt-grid-post-text,
.crt-grid-post-v2 .crt-grid-post-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.crt-grid-post-v2 .crt-grid-post-text .crt-social-icon,
.crt-grid-post-v2 .crt-grid-post-image .crt-social-icon {
  position: absolute;
  right: 10px;
  bottom: 8px;
  z-index: 3;
  font-size: 24px;
  transition: opacity .2s linear;
}
.crt-grid-post-v2 .crt-grid-post-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.crt-grid-post-v2 .crt-grid-post-image .crt-post-content-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
.crt-grid-post-v2 .crt-grid-post-image .crt-social-icon i {
  color: #ffffff;
}
.crt-grid-post-v2 .crt-grid-post-image .crt-image-carousel {
  position: absolute;
  bottom: 7px;
  left: 10px;
  color: #fff;
  font-size: 1.2em;
  display: none;
}
.crt-grid-post-v2 .crt-grid-post-image .crt-play {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.crt-grid-post-v2 .crt-grid-post-image .crt-play .crt-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -10px;
  display: none;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 24px solid #efefef;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  opacity: 0.50;
}
.crt-grid-post-v2 .crt-grid-post-image .crt-play .crt-play-icon:before {
  content: '';
  position: absolute;
  top: -30px;
  left: -46px;
  bottom: -30px;
  right: -14px;
  border-radius: 50%;
  border: 2px solid #efefef;
  z-index: 2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.crt-grid-post-v2 .crt-grid-post-image .crt-play .crt-play-icon:after {
  content: '';
  opacity: 0;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}
.crt-grid-post-v2 .crt-grid-post-image .crt-play .crt-play-icon.active {
  border-color: transparent;
}
.crt-grid-post-v2 .crt-grid-post-image .crt-play .crt-play-icon.active:after {
  content: '';
  opacity: 1;
  width: 20px;
  height: 32px;
  background: #efefef;
  position: absolute;
  right: 2px;
  top: -16px;
  border-left: 8px solid #efefef;
  box-shadow: inset 12px 0 0 0 #f9f9f9;
}
.crt-grid-post-v2.crt-has-image-carousel .crt-grid-post-image .crt-image-carousel {
  display: block;
}
.crt-grid-post-v2.crt-post-has-video .crt-play .crt-play-icon {
  display: block;
}
.crt-grid-post-v2 .crt-grid-post-text {
  display: none;
  color: #707070;
  font-size: 1em;
  line-height: 1.2em;
  text-align: center;
}
.crt-grid-post-v2 .crt-grid-post-text .crt-grid-post-text-wrap {
  display: table;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 0 10px 20px;
  overflow: hidden;
}
.crt-grid-post-v2 .crt-grid-post-text .crt-grid-post-text-wrap div {
  display: table-cell;
  vertical-align: middle;
  text-overflow: ellipsis;
}
.crt-grid-post-v2 .crt-post-read-more,
.crt-grid-post-v2 .crt-post-max-height-read-more {
  display: none;
}
.crt-grid-post-v2.crt-post-has-image .crt-grid-post-image {
  display: block;
}
.crt-grid-post-v2.crt-post-has-image .crt-grid-post-text {
  display: none;
}
.crt-grid-post-v2.crt-post-has-image .crt-post-content-text {
  display: block;
}
.crt-grid-post-v2.crt-post-content-image-hidden .crt-grid-post-image {
  display: none;
}
.crt-grid-post-v2.crt-post-content-image-hidden .crt-grid-post-text {
  display: block;
}
.crt-grid-post-v2 .crt-post-hover {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #ffffff;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.3s linear;
}
.crt-grid-post-v2 .crt-post-hover .crt-post-content-text {
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 28px;
  color: #707070;
  font-size: 1em;
  line-height: 1.2em;
  text-align: center;
}
.crt-grid-post-v2 .crt-post-hover .crt-post-content-text a {
  color: #2b2b2b;
}
.crt-grid-post-v2 .crt-post-hover .crt-post-content-text a:hover {
  color: black;
}
.crt-grid-post-v2 .crt-post-hover .crt-post-content-text .crt-image {
  display: none;
}
.crt-grid-post-v2 .crt-post-hover .crt-post-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.crt-no-touch .crt-grid-post-v2 .crt-hitarea:hover .crt-social-icon-normal {
  opacity: 0;
}
.crt-no-touch .crt-grid-post-v2 .crt-hitarea:hover .crt-image-carousel {
  opacity: 0;
}
.crt-no-touch .crt-grid-post-v2 .crt-hitarea:hover .crt-post-hover {
  visibility: visible;
  opacity: 1;
}
.crt-grid-post-v2.crt-post-has-image .crt-post-content-text-c {
  display: none;
}
.crt-grid-post-v2.crt-grid-post-minimal .crt-post-hover {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.crt-grid-post-v2.crt-grid-post-minimal .crt-post-hover > div {
  width: 100%;
}
.crt-grid-post-v2.crt-grid-post-minimal .crt-post-hover .crt-post-header {
  padding-top: 0;
}
.crt-grid-post-v2.crt-grid-post-minimal .crt-post-minimal-stats {
  text-align: center;
}
.crt-grid-post-v2.crt-grid-post-minimal .crt-post-minimal-stats .crt-likes {
  margin-right: 15px;
}
.crt-grid-post-v2.crt-grid-post-minimal .crt-post-minimal-stats .crt-likes i {
  margin-right: 2px;
}
.crt-grid-post-v2.crt-grid-post-minimal .crt-post-minimal-stats .crt-comments i {
  margin-right: 5px;
  font-size: 0.90em;
}

.crt-widget-waterfall {
  min-height: 400px;
  position: relative;
  display: block;
  clear: both;
  max-width: 100%;
}
.crt-widget-waterfall .crt-feed-spacer {
  height: 1px;
  opacity: 0;
}
.crt-widget-waterfall .crt-logo {
  display: none;
}
.crt-widget-waterfall .crt-feed-scroll {
  width: 100%;
}
.crt-widget-waterfall .crt-feed {
  width: 100%;
}
.crt-widget-waterfall .crt-post-v1 {
  width: 100%;
  float: none;
  display: block;
  margin-bottom: 10px;
}
.crt-widget-waterfall .crt-post-v2 {
  margin: 0 12px 24px;
  width: auto;
  float: none;
}

.crt-widget-carousel {
  min-height: 400px;
  position: relative;
}
.crt-widget-carousel .crt-logo {
  display: none;
}
.crt-widget-carousel .crt-feed-scroll {
  width: 100%;
}
.crt-widget-carousel .crt-carousel-feed {
  width: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.crt-widget-carousel .crt-post {
  width: 100%;
  padding: 0 10px;
  float: left;
}
.crt-widget-carousel .crt-post .crt-post-c {
  width: 100%;
}
.crt-widget-carousel .crt-carousel-stage {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.crt-widget-carousel .crt-carousel-stage.crt-match-heights .crt-post-content {
  margin-bottom: 40px;
}
.crt-widget-carousel .crt-carousel-stage.crt-match-heights .crt-post-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.crt-widget-carousel .crt-carousel-slider {
  width: 0%;
  list-style: none;
  position: relative;
  overflow: hidden;
  padding: 0;
  left: 0;
  display: block;
}
.crt-widget-carousel .crt-carousel-slider .crt-post-c {
  height: auto;
  -ms-flex-pack: center;
  justify-content: center;
}

.crt-panel-next,
.crt-panel-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  margin-top: -10px;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  width: 60px;
  height: 60px;
  z-index: 100;
  background-color: rgba(151, 152, 172, 0.27);
  border-radius: 50%;
}
.crt-panel-next:before,
.crt-panel-prev:before {
  color: #ffffff;
  font-size: 20px;
  font-family: 'crt-icon';
  line-height: 1;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.crt-panel-prev {
  left: -60px;
}
.crt-panel-prev:before {
  margin-left: -3px;
}

.crt-panel-next {
  right: -60px;
}
.crt-panel-next:before {
  margin-left: 3px;
}

.crt-widget-panel {
  min-height: 400px;
  position: relative;
}
.crt-widget-panel .crt-logo {
  display: none;
}

.crt-widget-grid {
  position: relative;
  zoom: 1;
}
.crt-widget-grid .crt-logo {
  display: none;
}
.crt-widget-grid:before,
.crt-widget-grid:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.crt-widget-grid:after {
  clear: both;
}
.crt-widget-grid .crt-grid-post {
  width: 33%;
}
.crt-widget-grid.crt-grid-col1 .crt-grid-post {
  width: 100%;
}
.crt-widget-grid.crt-grid-col2 .crt-grid-post {
  width: 50%;
}
.crt-widget-grid.crt-grid-col3 .crt-grid-post {
  width: 33.33333%;
}
.crt-widget-grid.crt-grid-col4 .crt-grid-post {
  width: 25%;
}
.crt-widget-grid.crt-grid-col5 .crt-grid-post {
  width: 20%;
}
.crt-widget-grid.crt-grid-col6 .crt-grid-post {
  width: 16.66667%;
}
.crt-widget-grid.crt-grid-col7 .crt-grid-post {
  width: 14.28571%;
}
.crt-widget-grid.crt-grid-col8 .crt-grid-post {
  width: 12.5%;
}
.crt-widget-grid.crt-grid-col9 .crt-grid-post {
  width: 11.11111%;
}
.crt-widget-grid.crt-grid-col10 .crt-grid-post {
  width: 10%;
}
.crt-widget-grid.crt-grid-col11 .crt-grid-post {
  width: 9.09091%;
}
.crt-widget-grid.crt-grid-col12 .crt-grid-post {
  width: 8.33333%;
}
.crt-widget-grid.crt-grid-col13 .crt-grid-post {
  width: 7.69231%;
}
.crt-widget-grid.crt-grid-col14 .crt-grid-post {
  width: 7.14286%;
}
.crt-widget-grid.crt-grid-col15 .crt-grid-post {
  width: 6.66667%;
}
.crt-widget-grid .crt-feed {
  zoom: 1;
}
.crt-widget-grid .crt-feed:before,
.crt-widget-grid .crt-feed:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.crt-widget-grid .crt-feed:after {
  clear: both;
}
.crt-widget-grid .crt-post {
  border: 0;
  margin: 0;
}
.crt-widget-grid .crt-post img.spacer {
  width: 100%;
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}
.crt-widget-grid .crt-post .crt-post-content-text-c,
.crt-widget-grid .crt-post .crt-post-content-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: none;
  max-width: none;
}
.crt-widget-grid .crt-post .crt-social-icon-normal {
  color: #ffffff;
}
.crt-widget-grid .crt-post .crt-social-icon {
  position: absolute;
  right: 3px;
  bottom: 5px;
  z-index: 3;
  font-size: 1.3em;
  transition: opacity .4s linear;
}
.crt-widget-grid .crt-post .crt-post-content-image {
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
.crt-widget-grid .crt-post .crt-post-content-text-c {
  z-index: 2;
}
.crt-widget-grid .crt-post .crt-post-content-text-c .crt-post-content-text {
  font-size: 20px;
}
.crt-widget-grid .crt-post .crt-post-hover {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3;
  opacity: 0;
  transition: opacity .4s linear;
}
.crt-widget-grid .crt-post .crt-post-hover .crt-post-header .crt-social-icon,
.crt-widget-grid .crt-post .crt-post-hover .crt-post-header {
  background-color: transparent;
}
.crt-widget-grid .crt-post .crt-post-hover .crt-post-header .crt-social-icon IMG,
.crt-widget-grid .crt-post .crt-post-hover .crt-post-header IMG {
  margin-left: 6px;
  margin-top: 6px;
}
.crt-widget-grid .crt-post .crt-post-hover .crt-post-header .crt-social-icon .crt-post-name,
.crt-widget-grid .crt-post .crt-post-hover .crt-post-header .crt-post-name {
  left: 53px;
  margin-top: 0;
  font-size: 0.8em;
}
.crt-widget-grid .crt-post .crt-post-hover .crt-post-hover-text {
  padding: 6px;
  font-size: 0.85em;
}
.crt-widget-grid .crt-post.crt-post-has-image .crt-post-content-text-c {
  display: none;
}
.crt-widget-grid .crt-load-more {
  text-align: center;
}
.crt-widget-grid .crt-load-more a {
  display: inline-block;
  background-color: #efefef;
  color: #000000;
  padding: 20px;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 3px;
}
.crt-widget-grid.crt-no-touch .crt-post .crt-hitarea:hover .crt-social-icon-normal {
  opacity: 0;
}
.crt-widget-grid.crt-no-touch .crt-post .crt-hitarea:hover .crt-post-hover {
  display: block;
  opacity: 1;
}

.crt-widget-list {
  position: relative;
  zoom: 1;
}
.crt-widget-list .crt-logo {
  display: none;
}
.crt-widget-list:before,
.crt-widget-list:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.crt-widget-list:after {
  clear: both;
}
.crt-widget-list .crt-feed {
  zoom: 1;
}
.crt-widget-list .crt-feed:before,
.crt-widget-list .crt-feed:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.crt-widget-list .crt-feed:after {
  clear: both;
}
.crt-widget-list .crt-list-post {
  border: 0;
  margin: 0;
  padding-bottom: 20px;
  zoom: 1;
}
.crt-widget-list .crt-list-post:before,
.crt-widget-list .crt-list-post:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.crt-widget-list .crt-list-post:after {
  clear: both;
}
.crt-widget-list .crt-list-post .crt-post-content {
  display: table;
}
.crt-widget-list .crt-list-post .crt-list-post-image {
  display: table-cell;
  vertical-align: top;
  width: 170px;
  padding-right: 20px;
}
.crt-widget-list .crt-list-post .crt-list-post-image img {
  max-width: 100%;
}
.crt-widget-list .crt-list-post .crt-list-post-image div {
  position: relative;
}
.crt-widget-list .crt-list-post .crt-list-post-text {
  display: table-cell;
  vertical-align: top;
}
.crt-widget-list .crt-list-post img.spacer {
  width: 100%;
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}
.crt-widget-list .crt-list-post .crt-social-icon-normal {
  color: #ffffff;
}
.crt-widget-list .crt-list-post .crt-image-carousel,
.crt-widget-list .crt-list-post .crt-social-icon {
  position: absolute;
  right: 3px;
  bottom: 5px;
  z-index: 3;
  font-size: 1.3em;
  transition: opacity .4s linear;
  color: #ffffff;
}
.crt-widget-list .crt-list-post .crt-social-icon {
  left: 3px;
  right: auto;
}
.crt-widget-list .crt-list-post .crt-post-content-image {
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
.crt-widget-list .crt-list-post .crt-post-content-text-c {
  z-index: 2;
}
.crt-widget-list .crt-list-post .crt-post-content-text-c .crt-post-content-text {
  font-size: 20px;
}
.crt-widget-list .crt-list-post .crt-post-hover {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3;
  opacity: 0;
  transition: opacity .4s linear;
}
.crt-widget-list .crt-list-post .crt-post-hover .crt-post-header .crt-social-icon,
.crt-widget-list .crt-list-post .crt-post-hover .crt-post-header {
  background-color: transparent;
}
.crt-widget-list .crt-list-post .crt-post-hover .crt-post-header .crt-social-icon IMG,
.crt-widget-list .crt-list-post .crt-post-hover .crt-post-header IMG {
  margin-left: 6px;
  margin-top: 6px;
}
.crt-widget-list .crt-list-post .crt-post-hover .crt-post-header .crt-social-icon .crt-post-name,
.crt-widget-list .crt-list-post .crt-post-hover .crt-post-header .crt-post-name {
  left: 53px;
  margin-top: 0;
  font-size: 0.8em;
}
.crt-widget-list .crt-list-post .crt-post-hover .crt-post-hover-text {
  padding: 6px;
  font-size: 0.85em;
}
.crt-widget-list .crt-list-post .crt-hitarea:hover .crt-social-icon-normal {
  opacity: 0;
}
.crt-widget-list .crt-list-post .crt-hitarea:hover .crt-post-hover {
  display: block;
  opacity: 1;
}
.crt-widget-list .crt-list-post.crt-post-has-image .crt-post-content-text-c {
  display: none;
}
.crt-widget-list .crt-load-more {
  text-align: center;
}
.crt-widget-list .crt-load-more a {
  display: inline-block;
  background-color: #efefef;
  color: #000000;
  padding: 20px;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 3px;
}
